{% extends "hollux/Base/base.html.twig" %}

{% block principal %}
    <div class="container">

    <div class="competences text-center">
        <h1>Compétences</h1>
        <h2>Langages</h2>
        <div class="md-flex-center">
            <img src="{{ asset('img/competences/html5.png') }}" alt="Html5">
            <img src="{{ asset('img/competences/css3.png') }}" alt="CSS3">
            <img src="{{ asset('img/competences/php.png') }}" alt="PHP">
            <img src="{{ asset('img/competences/js.png') }}" alt="JS">
            <img src="{{ asset('img/competences/less.png') }}" alt="Less">
            <img src="{{ asset('img/competences/sass.jpg') }}" alt="Sass">
        </div>
        <br>
        <div class="border"></div>
        <h2>Frameworks</h2>
        <div class="md-flex-center">
            <img src="{{ asset('img/competences/bootstrap.jpg') }}" alt="Bootstrap">
            <img src="{{ asset('img/competences/jquery.png') }}" alt="Jquery">
            <img src="{{ asset('img/competences/symfony.png') }}" alt="Symfony">
        </div>
        <br>
        <div class="border"></div>
        <h2>Base de données</h2>
        <div class="md-flex-center">
            <img class="mysql" src="{{ asset('img/competences/mySQL.png') }}" alt="mysql">
        </div>
        <br>
        <div class="border"></div>
        <h2>CMS</h2>
        <div class="md-flex-center">
            <img src="{{ asset('img/competences/wp.png') }}" alt="Wordpress">
        </div>
        <br>
        <div class="border"></div>
        <h2>Systèmes d'exploitation</h2>
        <div class="md-flex-center">
            <img src="{{ asset('img/competences/windows.png') }}" alt="windows">
            <img src="{{ asset('img/competences/linux.png') }}" alt="linux">
        </div>
        <br>
        <div class="border"></div>
        <h2>Autres</h2>
        <div class="md-flex-center">
            <img src="{{ asset('img/competences/xampp.png') }}" alt="xampp">
            <img src="{{ asset('img/competences/wamp.png') }}" alt="wamp">
            <img src="{{ asset('img/competences/easyphp.png') }}" alt="easyphp">
            <img src="{{ asset('img/competences/apache.jpg') }}" alt="apache">
            <img src="{{ asset('img/competences/filezilla.png') }}" alt="filezilla">
        </div>
        <br>
        <div class="md-flex-center">
            <img src="{{ asset('img/competences/ovh.png') }}" alt="ovh">
            <img src="{{ asset('img/competences/github.png') }}" alt="github">

        </div>
    </div>


{% endblock %}