{% extends":HolluxBase:base.html.twig" %}

{% block principal %}

    <div class="competences text-center">
        <h1>Langages</h1>

        <div class="md-flex-center">
            <img src="{{ asset('img/html5.png') }}" alt="Html5">
            <img src="{{ asset('img/css3.png') }}" alt="CSS3">
            <img src="{{ asset('img/php.png') }}" alt="PHP">
            <img src="{{ asset('img/js.png') }}" alt="JS">
            <img src="{{ asset('img/less.png') }}" alt="Less">
            <img src="{{ asset('img/sass.jpg') }}" alt="Sass">
        </div>
        <br>
        <div class="border"></div>
        <h1>Frameworks</h1>
        <div class="md-flex-center">
            <img src="{{ asset('img/bootstrap.jpg') }}" alt="Bootstrap">
            <img src="{{ asset('img/jquery.png') }}" alt="Jquery">
            <img src="{{ asset('img/symfony.png') }}" alt="Symfony">
        </div>
        <br>
        <div class="border"></div>
        <h1>Base de données</h1>
        <div class="md-flex-center">
            <img class="mysql" src="{{ asset('img/mySQL.png') }}" alt="mysql">
        </div>
        <br>
        <div class="border"></div>
        <h1>CMS</h1>
        <div class="md-flex-center">
            <img src="{{ asset('img/wp.png') }}" alt="Wordpress">
        </div>
        <br>
        <div class="border"></div>
        <h1>Systemes d'éxploitation</h1>
        <div class="md-flex-center">
            <img src="{{ asset('img/windows.png') }}" alt="windows">
            <img src="{{ asset('img/linux.png') }}" alt="linux">
        </div>
        <br>
        <div class="border"></div>
        <h1>Autres</h1>
        <div class="md-flex-center">
            <img src="{{ asset('img/xampp.png') }}" alt="xampp">
            <img src="{{ asset('img/wamp.png') }}" alt="wamp">
            <img src="{{ asset('img/easyphp.png') }}" alt="easyphp">
            <img src="{{ asset('img/apache.jpg') }}" alt="apache">
            <img src="{{ asset('img/filezilla.png') }}" alt="filezilla">
        </div>
        <br>
        <div class="md-flex-center">
            <img src="{{ asset('img/ovh.png') }}" alt="ovh">
            <img src="{{ asset('img/github.png') }}" alt="github">
        </div>
    </div>

{% endblock %}