{% extends":HolluxBase:base.html.twig" %}

{% block principal %}

    <div class="home">
        <a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a>
        <div class="scrollUp"></div>
        <img src="{{ asset('img/bandeau.jpg') }}" alt="bandeau">
        <h1>Hollux, développeur full stack.</h1>
        <div class="home">
            <p>Je suis <b>Hollux</b>, aka Adrien Marchand.</p>
            <p>Jeune développeur à la recherche d'opportunités.</p>
            <p>Je peux développer votre site administrable, vitrine ou e-commerce, complètement sur-mesure ou basé sur
                un CMS, à partir de technologies que vous pouvez voir <a href="competences">ici</a>.</p>
            <br>
            <div class="scroll"></div>
            <p>Et vous ?</p>
            <p>Avez vous besoin d'un développeur / intégrateur ?</p>
            <p>Ne cherchez plus, vous avez trouvé ! Il ne vous reste plus qu'à <a href="meContacter">me contacter</a>.
            </p>
            <br>
            <p>PS : Ce site est mon site sandbox ou je développe des tests. </p>
            <br>
            <h2>Quelques réalisations</h2>

            <div class="imgSites row">


                <div class="col-sm-4">
                    <a href="https://www.ludotheque-horbourg-wihr.net/" target=_blank>
                        <div class="post">
                            <div class="post-content post-content1">
                                <div class="post-overlay">
                                    <div class="post-title">
                                        <img class="imgHover4" src="{{ asset('img/site4hover.jpg') }}" alt="hover4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="http://www.haricotdecastelnaudary.fr/" target=_blank>
                        <div class="post">
                            <div class="post-content post-content2">
                                <div class="post-overlay">
                                    <div class="post-title">
                                        <img class="imgHover4" src="{{ asset('img/site4hover.jpg') }}" alt="hover4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="https://www.solveigdc.fr/" target=_blank>
                        <div class="post">
                            <div class="post-content post-content3">
                                <div class="post-overlay">
                                    <div class="post-title">
                                        <img class="imgHover4" src="{{ asset('img/site4hover.jpg') }}" alt="hover4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
            <br>
            <div class="imgSites row">


                <div class="col-sm-4">
                    <a href="https://www.chroniquesdewaral.fr/" target=_blank>
                        <div class="post">
                            <div class="post-content post-content4">
                                <div class="post-overlay">
                                    <div class="post-title">
                                        <img class="imgHover4" src="{{ asset('img/site3hover.jpg') }}" alt="hover3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col-sm-4">
                    <div class="post">
                        <div class="post-content post-content5">
                            <div class="post-overlay">
                                <div class="post-title">
                                    <img class="imgHover2" src="{{ asset('img/site1hover.jpg') }}" alt="hover1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="post">
                        <div class="post-content post-content6">
                            <div class="post-overlay">
                                <div class="post-title">
                                    <img class="imgHover3" src="{{ asset('img/site2hover.jpg') }}" alt="hover2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

{% endblock %}