{% extends "hollux/Base/base.html.twig" %}

{% block principal %}
    <div class="realisations container">
        <h1 class="text-center">Mes réalisations</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur deserunt dicta exercitationem
            fugit, hic labore modi molestias optio quisquam repellendus sed sunt temporibus vel veniam vitae voluptates.
            Neque, nesciunt.</p>

        <h2>Réalisations externe</h2>

        <div class="row">
            <a href="#">
                <div class="col-sm-3">
                    <img src="{{ asset('/img/realisations/solveigdcfr.jpg') }}" alt="réalisation">
                </div>
                <div class="col-sm-9">
                    <h3>Solveig DeCuyper : le site</h3>
                    <p>lala je raconte la realisation</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="#">
                <div class="col-sm-3">
                    <img src="{{ asset('/img/realisations/chroniquesfr.jpg') }}" alt="réalisation">
                </div>
                <div class="col-sm-9">
                    <h3>Chroniques de waral</h3>
                    <p>lala je raconte la realisation</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="#">
                <div class="col-sm-3">
                    <img src="{{ asset('/img/realisations/haricotfr.jpg') }}" alt="réalisation">
                </div>
                <div class="col-sm-9">
                    <h3>Haricots de castelnaudari</h3>
                    <p>lala je raconte la realisation</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="#">
                <div class="col-sm-3">
                    <img src="{{ asset('/img/realisations/ludoWp.jpg') }}" alt="réalisation">
                </div>
                <div class="col-sm-9">
                    <h3>Ludothèque la caverne d'ali baba</h3>
                    <p>lala je raconte la realisation</p>
                </div>
            </a>
        </div>


        <h2>Rélisations interne</h2>

        <div class="row">
            <a href="#">
                <div class="col-sm-3">
                    <img src="{{ asset('/img/realisations/lala.jpg') }}" alt="réalisation">
                </div>
                <div class="col-sm-9">
                    <h3>Random Smash up</h3>
                    <p>lala je raconte la realisation</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="#">
                <div class="col-sm-3">
                    <img src="{{ asset('/img/realisations/lala.jpg') }}" alt="réalisation">
                </div>
                <div class="col-sm-9">
                    <h3>Mini jeu cinéma</h3>
                    <p>lala je raconte la realisation</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="#">
                <div class="col-sm-3">
                    <img src="{{ asset('/img/realisations/lala.jpg') }}" alt="réalisation">
                </div>
                <div class="col-sm-9">
                    <h3>Conception List builder</h3>
                    <p>lala je raconte la realisation</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="#">
                <div class="col-sm-3">
                    <img src="{{ asset('/img/realisations/lala.jpg') }}" alt="réalisation">
                </div>
                <div class="col-sm-9">
                    <h3>Test ecommerce</h3>
                    <p>lala je raconte la realisation</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="#">
                <div class="col-sm-3">
                    <img src="{{ asset('/img/realisations/lala.jpg') }}" alt="réalisation">
                </div>
                <div class="col-sm-9">
                    <h3>Module PDF</h3>
                    <p>lala je raconte la realisation</p>
                </div>
            </a>
        </div>
    </div>


{% endblock %}