{% extends "hollux/Base/base.html.twig" %}

{% block principal %}
    <div class="blocHaut">
        <div class="container">
            <h1 class="text-center">Mes réalisations</h1>
            <p>Réalisations de sites internet et applications web elit. Aperiam consectetur deserunt dicta
                exercitationem
                fugit, hic labore modi molestias optio quisquam repellendus sed sunt temporibus vel veniam vitae
                voluptates.
                Neque, nesciunt.</p>
        </div>
    </div>

    <div class="realisations container">
        <h2>Réalisations externes</h2>
        <div class="row">
            {% for externe in realisations.externes %}

                <a class='col-md-4 col-sm-6' href="{{ externe.url }}" target="_blank">
                    <img src="{{ asset( externe.img) }}" alt="{{ externe.imgAlt }}">
                    <h3 class="text-center">{{ externe.title }}</h3>
                    <p>{{ externe.content }}</p>
                </a>

                {% if loop.index is divisible by(3) and not loop.last %}
        </div>
        <div class="row">

                {% endif %}

            {% endfor %}

        </div>

        <h2>Réalisations personnelles</h2>
        <div class="row">
            {% for interne in realisations.internes %}
                <a class='col-md-4 col-sm-6' href="{{ interne.url }}" target="_blank">
                    <img src="{{ asset( interne.img) }}" alt="{{ interne.imgAlt }}">
                    <h3 class="text-center">{{ interne.title }}</h3>
                    <p>{{ interne.content }}</p>
                </a>

            {% if loop.index is divisible by(3) and not loop.last %}
        </div>
        <div class="row">

            {% endif %}

            {% endfor %}
        </div>

    </div>

{% endblock %}