<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                <a href="{{ path('home') }}">
                    <img class="m0auto" src="{{ asset ('img/logoHollux3blanc.png') }}" alt="Hollux - logo">
                </a>
            </div>
            <div class="col-xs-8 col-sm-8 footer">
                <p>&#169 2016 Adrien MARCHAND - Tous droits réservés - <a href="{{ path('home') }}">Accueil</a> - <a href="{{ path('mentionslegales') }}">Mentions légales</a></p><a href="https://github.com/Hollux" alt="Hollux - GitHub"><img class="gitHub" src="{{ asset ('img/github-logo.svg') }}" alt="Hollux - GitHub"></a>
            </div>
            {#  <div class="col-xs-3 text-center">
                  <p>www.hollux.fr</p>
              </div>#}
        </div>
    </div>
</footer>